---
- name: Verify
  hosts: all
  tasks:
    - name: Ensure service facts are gathered
      tags:
        - logind
      ansible.builtin.service_facts:
      register: _service_facts

    - name: Ensure service is present in service facts
      tags:
        - logind
      ansible.builtin.assert:
        that:
          - services['systemd-logind.service'] is defined
          - services['systemd-logind.service'].status == 'static'
...
