# {{ ansible_managed }}

{% for key, value in openssh_server | dictsort %}
{%   if value is sameas true %}
  {{ key }} yes
{%   elif value is sameas false %}
  {{ key }} no
{%   elif value is string %}
  {{ key }} {{ value | string }}
{%   elif value is number %}
  {{ key }} {{ value | int }}
{%   elif value is iterable %}
{%     for i in value %}
  {{ key }} {{ i }}
{%     endfor %}
{%   else %}
  {{ key }} {{ value }}
{%   endif %}
{% endfor %}
