# {{ ansible_managed }}

[Login]
HandleHibernateKey={{ systemd_logind_handlehibernatekey }}
HandleHibernateKeyLongPress={{ systemd_logind_handlehibernatekeylongpress }}
HandleLidSwitch={{ systemd_logind_handlelidswitch }}
HandleLidSwitchExternalPower={{ systemd_logind_handlelidswitchexternalpower }}
HandleLidSwitchDocked={{ systemd_logind_handlelidswitchdocked }}
HandlePowerKey={{ systemd_logind_handlepowerkey }}
HandlePowerKeyLongPress={{ systemd_logind_handlepowerkeylongpress }}
HandleRebootKey={{ systemd_logind_handlerebootkey }}
HandleRebootKeyLongPress={{ systemd_logind_handlerebootkeylongpress }}
HandleSuspendKey={{ systemd_logind_handlesuspendkey }}
HandleSuspendKeyLongPress={{ systemd_logind_handlesuspendkeylongpress }}
HibernateKeyIgnoreInhibited={{ 'yes' if systemd_logind_hibernatekeyignoreinhibited | bool else 'no' }}
HoldoffTimeoutSec={{ systemd_logind_holdofftimeoutsec }}
IdleAction={{ systemd_logind_idleaction }}
IdleActionSec={{ systemd_logind_idleactionsec }}
InhibitDelayMaxSec={{ systemd_logind_inhibitdelaymaxsec }}
InhibitorsMax={{ systemd_logind_inhibitorsmax }}
KillExcludeUsers={{ systemd_logind_killexcludeusers | join(' ') }}
KillOnlyUsers={{ systemd_logind_killonlyusers | join(' ') }}
KillUserProcesses={{ 'yes' if systemd_logind_killuserprocesses | bool else 'no' }}
LidSwitchIgnoreInhibited={{ 'yes' if systemd_logind_lidswitchignoreinhibited | bool else 'no' }}
NAutoVTs={{ systemd_logind_nautovts }}
PowerKeyIgnoreInhibited={{ 'yes' if systemd_logind_powerkeyignoreinhibited | bool else 'no' }}
RebootKeyIgnoreInhibited={{ 'yes' if systemd_logind_rebootkeyignoreinhibited | bool else 'no' }}
RemoveIPC={{ 'yes' if systemd_logind_removeipc|bool else 'no' }}
ReserveVT={{ systemd_logind_reservevt }}
RuntimeDirectorySize={{ systemd_logind_runtimedirectorysize }}
RuntimeDirectoryInodesMax={{ systemd_logind_runtimedirectoryinodesmax if systemd_logind_runtimedirectoryinodesmax is not none }}
SessionsMax={{ systemd_logind_sessionsmax }}
StopIdleSessionSec={{ systemd_logind_stopidlesessionsec }}
SuspendKeyIgnoreInhibited={{ 'yes' if systemd_logind_suspendkeyignoreinhibited | bool else 'no' }}
UserStopDelaySec={{ systemd_logind_userstopdelaysec }}
