---
dnf_automatic_base_debuglevel: 1
dnf_automatic_command_command_format: cat
dnf_automatic_command_stdin_format: '{body}'
dnf_automatic_command_email_command_format: >-
  mail -Ssendwait -s {subject} -r {email_from} {email_to}
dnf_automatic_command_email_email_from: root
dnf_automatic_command_email_email_to: root
dnf_automatic_command_email_stdin_format: '{body}'
dnf_automatic_commands_apply_updates: false
dnf_automatic_commands_download_updates: true
dnf_automatic_commands_network_online_timeout: 60
dnf_automatic_commands_random_sleep: 0
dnf_automatic_commands_reboot: never
dnf_automatic_commands_reboot_command: >-
  shutdown -r +5 'Rebooting after applying package updates'
dnf_automatic_commands_upgrade_type: default
dnf_automatic_email_email_from: root
dnf_automatic_email_email_host: localhost
dnf_automatic_email_email_port: 25
dnf_automatic_email_email_to: root
dnf_automatic_emitters_emit_via: stdio
dnf_automatic_emitters_system_name: "{{ inventory_hostname }}"
dnf_automatic_timer: dnf-automatic-notifyonly.timer
dnf_automatic_timer_on_calendar: '*-*-* 6:00'
dnf_automatic_timer_persistent: true
dnf_automatic_timer_randomized_delay_sec: 60m
...
