[snoopy-stable]
name=Snoopy Upstream Stable Repository
baseurl=https://a2o.github.io/snoopy-packages/repo/centos/{{ snoopy_releasever }}/stable/
enabled={{ '1' if snoopy_repository_stable | bool else '0' }}
gpgcheck=1
