# {{ ansible_managed }}

{% if openssh_client | length > 0 %}
Host *
{%   for key, value in openssh_client | dictsort %}
{%     if value is sameas true %}
  {{ key }} yes
{%     elif value is sameas false %}
  {{ key }} no
{%     elif value is string %}
  {{ key }} {{ value | string }}
{%     elif value is number %}
  {{ key }} {{ value | int }}
{%     elif value is iterable %}
{%       for i in value %}
  {{ key }} {{ i }}
{%       endfor %}
{%     else %}
  {{ key }} {{ value }}
{%     endif %}
{%   endfor %}
{% endif %}

Include {{ openssh_client_include }}
