# {{ ansible_managed }}

{% for limit in _limit_d.limits %}
{%   if limit.domain is defined and
        limit.limit_item is defined and
        limit.limit_type is defined and
        limit.value is defined %}
{{ limit.domain }}	{{ limit.limit_type }}	{{ limit.limit_item }}	{{ limit.value }}
{%   endif %}
{% endfor %}
