# {{ ansible_managed }}

[main]
always_print_best_host={{ '1' if yum_plugin_fastestmirror_always_print_best_host | bool else '0' }}
enabled={{ '1' if yum_plugin_fastestmirror_enabled | bool else '0' }}
exclude={{ yum_plugin_fastestmirror_exclude | join(',') if yum_plugin_fastestmirror_exclude | length > 0 else '' }}
hostfilepath={{ yum_plugin_fastestmirror_hostfilepath }}
include_only={{ yum_plugin_fastestmirror_include_only | join(',') if yum_plugin_fastestmirror_include_only | length > 0 else '' }}
maxhostfileage={{ yum_plugin_fastestmirror_maxhostfileage }}
maxthreads={{ yum_plugin_fastestmirror_maxthreads }}
prefer={{ yum_plugin_fastestmirror_prefer }}
socket_timeout={{ yum_plugin_fastestmirror_socket_timeout }}
verbose={{ '1' if yum_plugin_fastestmirror_verbose | bool else '0' }}
