# {{ ansible_managed }}

{% for parameter in _d.parameters | sort(attribute='key') %}
{%   if parameter.key is defined and parameter.value is defined %}
{{ parameter.key }} = {{ parameter.value | string }}
{%   endif %}
{% endfor %}
