# {{ ansible_managed }}

[main]
always_print_best_host = {{ '1' if fastestmirror_always_print_best_host | bool else '0' }}
enabled = {{ '1' if fastestmirror_enabled | bool else '0' }}
exclude = {{ fastestmirror_exclude | join(',') if fastestmirror_exclude | length > 0 else '' }}
hostfilepath = {{ fastestmirror_hostfilepath }}
include_only = {{ fastestmirror_include_only | join(',') if fastestmirror_include_only | length > 0 else '' }}
maxhostfileage = {{ fastestmirror_maxhostfileage }}
maxthreads = {{ fastestmirror_maxthreads }}
prefer = {{ fastestmirror_prefer }}
socket_timeout = {{ fastestmirror_socket_timeout }}
verbose = {{ '1' if fastestmirror_verbose | bool else '0' }}
